/*Your Code Here*/

/*Write selector/rule property to add your border when
links in the navigation are in the hover or focus state.*/
nav ul li a:hover, nav ul li a:focus{
     border: 2px purple dotted;
}

/*Write selector/rule property to position the default position for the skip class element*/


.skip a{
     position: absolute;
     top: -65px;
}


/*Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus{
     position: absolute;
     top: 25px;
}


/*Write selector/rule property to style all elements when in focus*/
*:focus{
     border: 5px dashed green;
}


/*Write selector/rule property to style the container */
.container{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     gap: 13px;
     align-items: center;
}
/* .container img{
     display: block;
     max-width: 100%;
     height: auto;
} */

/*Write selector/rule property to add the background image to the first div in the grid and place it in the grid. */
.container div:first-child{
     grid-column: 1 / 6;
     background-image: url("../images/header.jpg");
     /* background-repeat: none; */
}

/* Steps 6 and 7: Write the selector/rule properties to  place the next five elements in the next
 five rows in the grid. */

      /*This will be a lot of rules.... but be strategic and combine selectors*/
.accounts, .accounts-image{
     grid-row: 2 / 3;
}

.onlinebanking, .onlinebanking-image{
     grid-row: 3 / 4;
}

.security-image, .security{
     grid-row: 4/5;
}

.loans, .loans-image{
     grid-row: 5/6;
}

.contact, .contact-image{
     grid-row: 6/7;
}

.accounts, .onlinebanking, .security, .loans, .contact{
     grid-column: 2 / 5;
     display: inline-block;
}

.accounts-image, .onlinebanking-image, .security-image, .loans-image, .contact-image{
     grid-column: 1 / 6;
}
.container img{
     display: block;
     height:100%;
     width: auto;
     max-height: 675px;
}

 /* Step 8: Write the selector/rule property to style the .text-block class. */

 .text-block{
     text-align: center;
 }

 .text-block ul{
     text-align: left;
 }

/* Add your media query here */
@media screen and (min-width:825px) {
     /* Step 10: Write the selector/rule property to style the nav element */
     nav{
          text-align: right;
          padding: 35px 0;
     }
     .container div:first-child{
          grid-column: 1 / 8;
     }

     


  /* Step 11: Write the selector/rule property to update the .container class */
     .container{
          display: grid;
          grid-template-columns: repeat(7, 1fr);
     }

  /* Steps 12 - 15: Update the grid-column property of the grid's children (where-needed)*/
     .accounts, .security, .contact{
          grid-column: 4 / span 3;
          display: inline-block;
     }
     .onlinebanking, .loans{
          grid-column: 2 / 5;
          display: inline-block;
     }

     .accounts-image, .security-image, .contact-image{
          grid-column: 1 / span 5;
     }
     .onlinebanking-image, .loans-image{
          grid-column: 3 / span 5;
     }
     .text-block{
          max-height: 235px;
          overflow:auto;
     }


 /* Step 16:Write the selector/rule property to update the .text-block class */

}